PORT=5000
MONGO_URI=
MP=
MAIL_ID=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# SECURE=process.env.NODE_ENV === "production"


GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=


# CLIENT_URL=https://neststore-beta.vercel.app/
# SERVER_URL=https://nest-store-backend.onrender.com

CLIENT_URL=http://localhost:3000

